<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Appenders>	

		<RollingFile name="file"
			fileName="/local/content/tomcat/idp/logs/idp.txt" append="true"
			filePattern="/local/content/tomcat/idp/logs/idp.txt.%i">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
	
		<Logger name="app" level="ALL" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		
	</Loggers>
	
</Configuration>